<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<head>
<title>Ajouter une Note</title>
</head>
<body>
	<h1 class="container">Ajouter une Note</h1>
	<p class="add-note-p"> Patient : 
		<span class="add-note-span" th:text="${patient.prenom} + ' ' + ${patient.nom}"></span>
	</p>
	<form th:action="@{/patients/addNote}" method="post">
		<input type="hidden" name="patientId" th:value="${patient.id}" /> 
		<label for="noteContent">Note d'observation:</label>
		<textarea id="noteContent" name="noteContent" required></textarea>
		<div id="container-flex">
			<a href="/patients" class="btn btn-secondary">Annuler</a>
			<button type="submit" class="btn btn-secondary btn-secondary-blue">Enregistrer</button>
		</div>
	</form>
</body>
</html>
