<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<head>
<title>Liste des Patients</title>
</head>
<body>
	<h1>Liste des Patients</h1>
	<table>
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.prenom}"></td>
            <td th:text="${patient.nom}"></td>
            <td th:text="${patient.dateDeNaissance}"></td>
            <td th:text="${patient.genre}"></td>
            <td th:text="${patient.adresse}"></td>
            <td th:text="${patient.telephone}"></td>
            <td>
                <a th:href="'/patients/edit/' + ${patient.id}" class="btn btn-primary">Mettre à jour</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
